.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid {
  display: grid;
}
@media (min-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
